<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div style="margin:0;padding:0">
    <input name="user" type="hidden" value=<%= @user.id %> />
  </div>

  <% title_msg = "" %>
  <% if @profile.title %>
    <% title_msg = ", " + @profile.title%>
  <% end %>
  <h1><%= @user.name + title_msg %></h1>
  <h3>Email: <%= @user.email %></h1><br />
  
  <div class="field">
	<%= f.label :title %><br />
	<%= f.text_field :title, disabled: (can? :edit_title, @user) %>
  </div>
  
  <div class="field">
	<% if cannot? :edit_rank, @profile %>
		<input name="rank" type="hidden" value=<%= @default_rank.id %> />
	<% else %>
		<%= f.label 'Rank' %>: (<%= link_to("New Status", new_rank_path, :target =>'_blank') %>)<br />
		<% @ranks.each do |r|%>
			<% if @profile.new_record? %>
				<% checked = (r.id == @default_rank.id) %>
			<% else %>
				<% checked = (r.id == @profile.rank.id) %>
			<% end %>
			<%= radio_button_tag 'rank', r.id, checked %>
			<%= r.name %><br />
		<% end %>
	
	<% end %>

  </div>
  
  <div class="field">
	<%= f.label 'Skills' %>
	<%= link_to "(New Skill)", new_skill_path %><br />
	<% @skills.each do |s|%>
		<%= check_box_tag 'skillset[]', s.id, @prof_skills.include?(s.id) %>
		<%= s.name %><br /> 
	<% end %>
  </div>
  
  <div class="field">
	<%= f.label 'Handles Equipment:' %>
	<%= link_to "(New Equipment)", new_equipment_path %><br />
	<% @equipment.each do |eq| %>
		<%= check_box_tag 'equipmentset[]', eq.id, @prof_eq.include?(eq.id) %>
		<%= eq.name %><br /> 
	<% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
