<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>

<p>
  <b>All People With This Skill:</b>
  <% @skill.profiles.each do |profile| %>
	<li><b><%= link_to(profile.name, profile) %></b></li>
  <% end%>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
