<html>
<head>
    <link rel="stylesheet" type="text/css" href="application.css">
    <title>StaffInSight: Staff Management System</title>
</head>

<body onload="Notifier.info('Welcome to StaffInSight!')">
    <div id="header">        
    </div>
    
    <div id="content">
        <%= link_to image_tag('events_ico.png'), events_path %>
        <%= link_to image_tag('skills_ico.png'), skills_path %>
        <%= link_to image_tag('staff_ico.png'), profiles_path %>
        <%= link_to image_tag('equipment_ico.png'), all_equipment_path %>
        <%= link_to image_tag('admin_ico.png'), users_path %> 
    </div>
    
    <div id="footer"></div>
</body>
</html>
