
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time, :start_year => Time.now.year, :ampm => true %>
  </div>
  
  <div class="field">
	<%= f.label 'Required Equipment' %><br />
	<% @equipment.each do |e|%>
		<% checked = @req_equipment ? @req_equipment.include?(e.id) : false%>
		<%= check_box_tag 'required_equipment[]', e.id, checked%>
		<%= link_to(e.name, e, :target => '_blank') %><br /> 
	<% end %>
  </div>
  
  <div class="field">
	<%= f.label 'Required Skills' %><br />
	<% @skills.each do |s|%>
		<% checked = @req_skills ? @req_skills.include?(s.id) : false%>
		<%= check_box_tag 'required_skills[]', s.id, checked%>
		<%= link_to(s.name, s, :target => '_blank') %><br /> 
	<% end %>
  </div>

