<h1>Event: <%= @event.name %></h1>
<p>
	<em>Time: <%= @event.time %></em></br>
	<em>Location: <%=@event.location %></em>
</p>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
