<p id="notice"><%= notice %></p>

<h2><b>Event</b></h2>
<h1>
  "<%= @event.name %>"
</h1>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time.to_formatted_s(:long_with_meridian) %>
</p>

</br>

<p>
  <h2><b>Required Skills:</b></h2>
  <% @event.skills.each do |skill| %>
	<span style="color:<%=skill.status_color(@event)%>">|<%= link_to(skill.name, skill, :target => '_blank') %>|</span>
  <% end %>
  <% if @event.skills.size < 1%>
	<em> NO REQUIRED SKILLS </em>
  <% end %>
</p>

</br>

<div><p>
  <h2><b>Required Equipment:</b></h2>
  <% if @event.equipment.size < 1 %>
	<em>NO REQUIRED EQUIPMENT</em>
  <% else %>
	  <table>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Manager</th>
		</tr>
		 <% @event.equipment.each do |eq| %>
			<tr>
				<td><%= link_to(eq.name, eq, :target => '_blank') %></td>
				<td style="color:<%=eq.status.color%>"><b><%= eq.status.name %></b></td>
				<td><%= link_to(eq.manager.name, eq.manager, :target => '_blank') %></td>
			</tr>
		 <%end%>
	  </table>
  <% end %>
</p></div>

</br>

<div><p>

	<h2><b>Potential Staff:</b></h2>
	<% if @event.potentials.size < 1 %>
		<em>NO POTENTIAL STAFF WERE FOUND!</em>
	<% else %>
	<table cellspacing=10>
		<tr>
			<th>Name</th>
			<th>Position</th>
			<th>Relevant Skills</th>
			<th>Relevent Equipment Handling</th>
			<th>Recruited?</th>
		</tr>
		<% @event.potentials.each do |pot| %>
			<tr>
				<td><%= link_to(pot.name, pot, :target=> '_blank' ) %></td>
				<td><%= pot.title %></td>
				<td>
					<% (@event.skills & pot.skills).each do |skill| %>
						|<%= link_to(skill.name, skill, :target => '_blank') %>|
					<% end %>
					<% if (@event.skills & pot.skills).size < 1 %>
						<b>N/A</b>
					<% end %>
				</td>
				<td>
					<% (@event.equipment & pot.equipment).each do |eq| %>
						|<%= link_to(eq.name, eq, :target => '_blank') %>|
					<% end %>
					<% if (@event.equipment & pot.equipment).size < 1 %>
						<b>N/A</b>
					<% end %>
				</td>
				<td>
					<%= check_box_tag 'recruited[]', pot.id, @recruited.include?(pot.id), disabled: true%>
				</td>
			</tr>
		<% end %>
	</table>
	<% end %>
	
</p></div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'All Events', events_path %>
