<h2>New User</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %>
  </div>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div><br />Permission Level<br />
	<% @roles.each do |role|%>
		<% checked = (role.id == @default_role.id) %>
		<%= radio_button_tag 'role', role.id, checked %>
		<%= role.name %><br />
	<% end %>
  </div><br />

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
