<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rank.name %>
</p>

<p>
	<b>Description:</b>
	<%= @rank.description %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
